<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mID</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <div class="col-sm-12 text-center container-fluid">
      <header>
      <nav class="nav navbar-nav navbar-right">
      <a href='https://www.instagram.com/mid_uy/?igshid=10zmjmq6t8uw3'target="_blank" class="text-right">Seguinos en IG!</a>
      </nav>
      </header>
    <div class="jumbotron text-center">
          <h2>Te damos la bienvenida a </h2>
          <img src="/static/images/logo MID.png" class="img-responsive" style="width:40%" alt="Logo de miD" ></img>
      <nav>
        <div>
             <a class="btn btn-primary" href="{{ url_for('registro') }}" role= "button" style="margin-top: 8px">Registrarse</a>
             <a class="btn btn-primary" href="{{ url_for('ingresar') }}" role= "button" style="margin-top: 8px">Iniciar sesión</a>
        </div>
      </nav>
      </div>
    <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <nav class="nav navbar-nav navbar-centre">
          <a href="mailto:miduruguay@gmail.com">Contactate con nosotros</a>
        </nav>
        <p>©2020 miD Todos los derechos reservados</p>
    </div>
  </footer>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
