<!DOCTYPE html>
{% extends 'base.html' %}
<html>

  <body>

    {% block contenido %}
    <div class="jumbotron text-center">
          <h2>Te damos la bienvenida a </h2>
          <img src="/static/images/logo MID.png" class="img-responsive" style="width:40%" alt="Logo de miD" ></img>
      <nav>
        <div>
             <a class="btn btn-primary" href="{{ url_for('registro') }}" role= "button" style="margin-top: 8px">Registrarse</a>
             <a class="btn btn-primary" href="{{ url_for('ingresar') }}" role= "button" style="margin-top: 8px">Iniciar sesión</a>
        </div>
      </nav>
      </div>
      {% endblock %}
</html>
