<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mID</title>
  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li><a href='https://www.instagram.com/mid_uy/?igshid=10zmjmq6t8uw3'>Seguinos! IG</a></li>
        </ul>
      </nav>
      <h1>Te damos la bienvenida a </h1>
    </header>

    <section>
      <ul>
        <li>
          <img src="imagenes/logo MID.png"alt="Logo de miD"></img>
        </li>
      </ul>
      <nav>
        <ul>
          <li><a href="registro.html">Registrarse</a></li>
          <li><a href="iniciarsesion.html">Iniciar sesión</li>
        </ul>
      </nav>

    </section>

    <footer>
      <p> miD 2020 </p>
      <p>
        <nav>
          <ul>
            <li><a href="mailto:miduruguay@gmail.com">Contactate con nosotros!</a></li>
          </ul>
        </nav>
       </p>
    </footer>

  </body>

</html>
