<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mID</title>
  </head>
  <body>
    <div class="container-fluid" style="width:550px">
    <header>
      <nav>
        <ul>
          <li><a href='https://www.instagram.com/mid_uy/?igshid=10zmjmq6t8uw3'>Seguinos! IG</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div>
          <img src="/static/images/logo MID.png" alt="Logo de miD">
      </div>
      <nav>
      <a> Registrarse </a>
      <a> Iniciar sesión</a>
      </nav>

      <p>
        <form>
        <div class="form-group">
            <label for  ="formGroupExampleInput">mail</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese su correo">

            <label for="formGroupExampleInput">contraseña</label>
            <input type="contraseña" class="form-control" id="contraseña1" aria-describedby="passwordHelp" placeholder="Ingrese su contraseña">

            <label for="formGroupExampleInput">repetircontraseña</label>
            <input type="contraseña" class="form-control" id="contraseña2" aria-describedby="passwordHelp" placeholder="Repita su contraseña">
        </div>
        </form>

      <form action="">
        <label for= "exampleInputEmail1">Correo</label>
        <input type="text" name="mail" placeholder="E-mail"><br><br>
        <input type="text" name="contraseña" placeholder="Contraseña"><br><br>
        <input type="text" name="contraseña" placeholder="Repite tu contraseña"><br><br>
        <button type="submit">
          Crea tu ID
        </button>
      </form>
      </p>
    </section>

    <footer>
      <p> Fin </p>
    </footer>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>
