<!DOCTYPE html>
{% extends 'base.html' %}
<html>

{% block contenido %}

<style type="text/css">
form {
    text-align: center;
    width: 40em;
    margin: 20 auto;
    padding: 3em;
    border: 1.5px solid #E0E0E0;
    font-size: 1em;
    font-family: monospace;
    line-height: 1.7;
}
label {
    display: inline-block;
    text-align: left;
    width: 12em;
    vertical-align: bottom;

}
input {
    display: inline-block;
    width: 15em;
}

}
</style>

</head>
  <body>
    <div class="col-sm-12 text-center container-fluid">

    <section>
      <div>
          <img src="/static/images/logo MID.png" alt="Logo de miD">
      </div>

      <p>
        <form>
        <div class="form-group">
            <label for = "email">Nombre/s</label>
            <input type="text" id="nombre" placeholder="Ingrese su nombre"> <br>
            <label for="apellido">Apellido/s</label>
            <input type="text"  id="apellido" placeholder="Ingrese su/sus apellido/s"><br>
            <label for="fechanacimiento">Fecha de Nacimiento</label>
            <input type="text" id="nacimiento" placeholder="XX/XX/XXXX"><br>
            <label for = "celular">Celular</label>
            <input type="int" id="celular" placeholder="XXX-XXX-XXX"> <br>
            <label for = "telefono">Telefono</label>
            <input type="int" id="telefono" placeholder="XXXX-XX-XX"> <br>
            <label for = "pais">País</label>
            <input type="text" id="pais" placeholder="Ej: Uruguay"> <br>
            <label for = "ciudad">Ciudad</label>
            <input type="text" id="ciudad" placeholder="Ej: Montevideo"> <br>
            <label for = "profesion">Profesión</label>
            <input type="text" id="profesion" placeholder="Ej: Contadora pública"> <br>
            <label for = "empresa">Empresa</label>
            <input type="text" id="empresa" placeholder="Ej: MID SRL"> <br>
            <label for = "cargo">Cargo</label>
            <input type="text" id="cargo" placeholder="Ej: Auxiliar contable"> <br>
            <label for = "banco">Banco</label>
            <input type="list" id="banco" placeholder="LISTA DESPLEGABLE"> <br>
            <label for = "cuenta">N°Cuenta</label>
            <input type="int" id="cuenta" placeholder="XXXXX-XXX"> <br>
            <label for = "redes">Vincula tus redes sociales</label>
            <input type="text" id="redes" placeholder="Linkedin, Facebook, Instragram"> <br>


        </div>
        </form>

        <form action="">
          <button type="submit">
            Crea tu ID
          </button>
        </form>
      </p>
    </section>

{% endblock %}

</html>
