<!DOCTYPE html>
{% extends 'base.html' %}
<html>

{% block contenido %}
  <body>
    <section>
      <div>
          <img src="/static/images/logo MID.png" alt="Logo de miD"> <br>
          <h4 style = "font-family: Candara"><br>
          Ahora completa tus datos y <b> ¡comenzá a compartir! </b>
        </p>
      </div>

      <p>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="" >
          <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.nombre, class_ = "form-control", placeholder="Ej. Maria José" )}}
              </div>
          </div>
          <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.apellido, class = "form-control", placeholder="Ej. Rodriguez Martinez" )}}
              </div>
          </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.fecha_nacimiento, class = "form-control", placeholder="Ej. 10/05/1985" )}}
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.celular, class = "form-control", placeholder="09X XXX XXX" )}}
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.telefono, class = "form-control", placeholder="XXXX XX XX " )}}
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.pais, class = "form-control", placeholder="Ej. Uruguay" )}}
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.ciudad, class = "form-control", placeholder="Ej. Canelones" )}}
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.profesion, class = "form-control", placeholder="Ej. Administradora de empresas" )}}
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.empresa, class = "form-control", placeholder="Ej. XX SA" )}}
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.cargo, class = "form-control", placeholder="Ej. Administrativa" )}}
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.banco, class = "form-control", placeholder="Ej. Santander" )}}
                <datalist id="items">
                  <option>BROU</option>
                  <option>SANTANDER</option>
                  <option>ITAÚ</option>
                </datalist>
                </select>
            </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.num_cuenta, class = "form-control", placeholder="XXX XXXXX" )}}
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <div class="form-inline">
                {{render_field (form.redes_sociales, class = "form-control", placeholder="" )}}
              </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Guardar y Compartir!" style="margin-top: 8px">
        </form>
      </p>
    </section>

  {% endblock %}
</html>
