<!DOCTYPE html>
{% extends 'base.html' %}
<html>

{% block contenido %}
  <body>
    <div class="col-sm-12 text-center container-fluid">

    <section>
      <div>
          <img src="/static/images/logo MID.png" alt="Logo de miD">
      </div>

      <p>
      <form action= "/inicio" method="post">
        <div class="form-group">
          <label for= "exampleInputEmail1">Correo</label>
          <input type="text" name="mail" placeholder="Ingrese su correo"><br>
          <label for= "exampleInputEmail1">Contraseña </label>
          <input type="text" name="contraseña" placeholder="Ingrese su contraseña">
          <small id= "ayuda" class= "form-text text-muted">
        </div>
        <button type="submit">
          Ingresar
        </button>
      </form>
      </p>
    </section>

{% endblock %}

</html>
