<!DOCTYPE html>
{% extends 'base.html' %}
<html>

{% block contenido %}
  <body>
    <div class="col-sm-12 text-center container-fluid">

    <section>
      <div>
          <img src="/static/images/logo MID.png" alt="Logo de miD">
      </div>

      <p>
        <form class="form-horizontal" role="form">
          <div class="form-group row justify-content-md-center">
            <label for = "email" class="col-sm-1 control-label">Correo</label>
              <div class="col-sm-3">
                <input type="text" id="email" class="form-control" placeholder="Ingrese su correo">
              </div>
          </div>
          <div class="form-group row justify-content-md-center">
            <label for="contraseña" class="col-sm-1 control-label">Contraseña</label>
              <div class="col-sm-3">
                <input type="contraseña" id="contraseña1" class="form-control" placeholder="Ingrese su contraseña">
              </div>
          </div>
          <div class="form-group row justify-content-md-center">
            <label for="contraseña" class="col-sm-1 control-label">Repetir contraseña</label>
              <div class="col-sm-3">
                <input type="contraseña" id="contraseña2" class="form-control" placeholder="Repita su contraseña"><br><br>
              </div>
          </div>
        </form>

        <form action="">
          <button type="submit">
            Crea tu ID
          </button>
        </form>
      </p>
    </section>

{% endblock %}

</html>
