<!DOCTYPE html>
{% extends 'base.html' %}
<html>

{% block contenido %}
  <body>
    <div class="col-sm-12 text-center container-fluid">

    <section>
      <div>
          <img src="/static/images/logo MID.png" alt="Logo de miD">
      </div>

      <p>
        <form>
        <div class="form-group">
            <label for = "email">Correo</label>
            <input type="text" id="email" placeholder="Ingrese su correo"> <br><br>
            <label for="contraseña">Contraseña</label>
            <input type="contraseña"  id="contraseña1" placeholder="Ingrese su contraseña"><br><br>
            <label for="contraseña">Repetir contraseña</label>
            <input type="contraseña" id="contraseña2" placeholder="Repita su contraseña"><br><br>
        </div>
        </form>

        <form action="">
          <button type="submit">
            Crea tu ID
          </button>
        </form>
      </p>
    </section>

{% endblock %}

</html>
